## Upload the Data and Read the .csv File

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('salaries_by_college_major.csv')

In [3]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [4]:
df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

# Data Exploration and Data Cleaning

In [5]:
df.shape

(51, 6)

In [6]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [7]:
df.isna

<bound method DataFrame.isna of                      Undergraduate Major  Starting Median Salary  \
0                             Accounting                 46000.0
1                  Aerospace Engineering                 57700.0
2                            Agriculture                 42600.0
3                           Anthropology                 36800.0
4                           Architecture                 41600.0
5                            Art History                 35800.0
6                                Biology                 38800.0
7                    Business Management                 43000.0
8                   Chemical Engineering                 63200.0
9                              Chemistry                 42600.0
10                     Civil Engineering                 53900.0
11                        Communications                 38100.0
12                  Computer Engineering                 61400.0
13                      Computer Science                 55900.0
14                          Construction                 53700.0
15                      Criminal Justice                 35000.0
16                                 Drama                 35900.0
17                             Economics                 50100.0
18                             Education                 34900.0
19                Electrical Engineering                 60900.0
20                               English                 38000.0
21                                  Film                 37900.0
22                               Finance                 47900.0
23                              Forestry                 39100.0
24                             Geography                 41200.0
25                               Geology                 43500.0
26                        Graphic Design                 35700.0
27            Health Care Administration                 38800.0
28                               History                 39200.0
29                 Hospitality & Tourism                 37800.0
30                Industrial Engineering                 57700.0
31           Information Technology (IT)                 49100.0
32                       Interior Design                 36100.0
33               International Relations                 40900.0
34                            Journalism                 35600.0
35  Management Information Systems (MIS)                 49200.0
36                             Marketing                 40800.0
37                                  Math                 45400.0
38                Mechanical Engineering                 57900.0
39                                 Music                 35900.0
40                               Nursing                 54200.0
41                             Nutrition                 39900.0
42                            Philosophy                 39900.0
43                   Physician Assistant                 74300.0
44                               Physics                 50300.0
45                     Political Science                 40800.0
46                            Psychology                 35900.0
47                              Religion                 34100.0
48                             Sociology                 36500.0
49                               Spanish                 34000.0
50                 Source: PayScale Inc.                     NaN

    Mid-Career Median Salary  Mid-Career 10th Percentile Salary  \
0                    77100.0                            42200.0
1                   101000.0                            64300.0
2                    71900.0                            36300.0
3                    61500.0                            33800.0
4                    76800.0                            50600.0
5                    64900.0                            28800.0
6                    64800.0                            36900.0
7                    72100.0                            38800.0
8                   107000.0                            71900.0
9                    79900.0                            45300.0
10                   90500.0                            63400.0
11                   70000.0                            37500.0
12                  105000.0                            66100.0
13                   95500.0                            56000.0
14                   88900.0                            56300.0
15                   56300.0                            32200.0
16                   56900.0                            36700.0
17                   98600.0                            50600.0
18                   52000.0                            29300.0
19                  103000.0                            69300.0
20                   64700.0                            33400.0
21                   68500.0                            33900.0
22                   88300.0                            47200.0
23                   62600.0                            41000.0
24                   65500.0                            40000.0
25                   79500.0                            45000.0
26                   59800.0                            36000.0
27                   60600.0                            34600.0
28                   71000.0                            37000.0
29                   57500.0                            35500.0
30                   94700.0                            57100.0
31                   74800.0                            44500.0
32                   53200.0                            35700.0
33                   80900.0                            38200.0
34                   66700.0                            38400.0
35                   82300.0                            45300.0
36                   79600.0                            42100.0
37                   92400.0                            45200.0
38                   93600.0                            63700.0
39                   55000.0                            26700.0
40                   67000.0                            47600.0
41                   55300.0                            33900.0
42                   81200.0                            35500.0
43                   91700.0                            66400.0
44                   97300.0                            56000.0
45                   78200.0                            41200.0
46                   60400.0                            31600.0
47                   52000.0                            29700.0
48                   58200.0                            30700.0
49                   53100.0                            31000.0
50                       NaN                                NaN

    Mid-Career 90th Percentile Salary     Group
0                            152000.0  Business
1                            161000.0      STEM
2                            150000.0  Business
3                            138000.0      HASS
4                            136000.0  Business
5                            125000.0      HASS
6                            135000.0      STEM
7                            147000.0  Business
8                            194000.0      STEM
9                            148000.0      STEM
10                           148000.0      STEM
11                           143000.0      HASS
12                           162000.0      STEM
13                           154000.0      STEM
14                           171000.0  Business
15                           107000.0      HASS
16                           153000.0      HASS
17                           210000.0  Business
18                           102000.0      HASS
19                           168000.0      STEM
20                           133000.0      HASS
21                           136000.0      HASS
22                           195000.0  Business
23                           111000.0  Business
24                           132000.0      HASS
25                           156000.0      STEM
26                           112000.0      HASS
27                           101000.0  Business
28                           149000.0      HASS
29                           124000.0  Business
30                           173000.0      STEM
31                           129000.0      STEM
32                           107000.0      HASS
33                           157000.0      HASS
34                           145000.0      HASS
35                           146000.0      STEM
36                           175000.0  Business
37                           183000.0      STEM
38                           163000.0      STEM
39                           134000.0      HASS
40                            98300.0  Business
41                            99200.0      HASS
42                           168000.0      HASS
43                           124000.0      STEM
44                           178000.0      STEM
45                           168000.0      HASS
46                           127000.0      HASS
47                            96400.0      HASS
48                           118000.0      HASS
49                            96400.0      HASS
50                                NaN       NaN  >

In [9]:
clean_df = df.dropna()
clean_df

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business
5,Art History,35800.0,64900.0,28800.0,125000.0,HASS
6,Biology,38800.0,64800.0,36900.0,135000.0,STEM
7,Business Management,43000.0,72100.0,38800.0,147000.0,Business
8,Chemical Engineering,63200.0,107000.0,71900.0,194000.0,STEM
9,Chemistry,42600.0,79900.0,45300.0,148000.0,STEM
10,Civil Engineering,53900.0,90500.0,63400.0,148000.0,STEM
11,Communications,38100.0,70000.0,37500.0,143000.0,HASS
12,Computer Engineering,61400.0,105000.0,66100.0,162000.0,STEM
13,Computer Science,55900.0,95500.0,56000.0,154000.0,STEM
14,Construction,53700.0,88900.0,56300.0,171000.0,Business
15,Criminal Justice,35000.0,56300.0,32200.0,107000.0,HASS
16,Drama,35900.0,56900.0,36700.0,153000.0,HASS
17,Economics,50100.0,98600.0,50600.0,210000.0,Business
18,Education,34900.0,52000.0,29300.0,102000.0,HASS
19,Electrical Engineering,60900.0,103000.0,69300.0,168000.0,STEM
20,English,38000.0,64700.0,33400.0,133000.0,HASS
21,Film,37900.0,68500.0,33900.0,136000.0,HASS
22,Finance,47900.0,88300.0,47200.0,195000.0,Business
23,Forestry,39100.0,62600.0,41000.0,111000.0,Business
24,Geography,41200.0,65500.0,40000.0,132000.0,HASS
25,Geology,43500.0,79500.0,45000.0,156000.0,STEM
26,Graphic Design,35700.0,59800.0,36000.0,112000.0,HASS
27,Health Care Administration,38800.0,60600.0,34600.0,101000.0,Business
28,History,39200.0,71000.0,37000.0,149000.0,HASS
29,Hospitality & Tourism,37800.0,57500.0,35500.0,124000.0,Business
30,Industrial Engineering,57700.0,94700.0,57100.0,173000.0,STEM
31,Information Technology (IT),49100.0,74800.0,44500.0,129000.0,STEM
32,Interior Design,36100.0,53200.0,35700.0,107000.0,HASS
33,International Relations,40900.0,80900.0,38200.0,157000.0,HASS
34,Journalism,35600.0,66700.0,38400.0,145000.0,HASS
35,Management Information Systems (MIS),49200.0,82300.0,45300.0,146000.0,STEM
36,Marketing,40800.0,79600.0,42100.0,175000.0,Business
37,Math,45400.0,92400.0,45200.0,183000.0,STEM
38,Mechanical Engineering,57900.0,93600.0,63700.0,163000.0,STEM
39,Music,35900.0,55000.0,26700.0,134000.0,HASS
40,Nursing,54200.0,67000.0,47600.0,98300.0,Business
41,Nutrition,39900.0,55300.0,33900.0,99200.0,HASS
42,Philosophy,39900.0,81200.0,35500.0,168000.0,HASS
43,Physician Assistant,74300.0,91700.0,66400.0,124000.0,STEM
44,Physics,50300.0,97300.0,56000.0,178000.0,STEM
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

In [10]:
clean_df['Undergraduate Major']

0                               Accounting
1                    Aerospace Engineering
2                              Agriculture
3                             Anthropology
4                             Architecture
5                              Art History
6                                  Biology
7                      Business Management
8                     Chemical Engineering
9                                Chemistry
10                       Civil Engineering
11                          Communications
12                    Computer Engineering
13                        Computer Science
14                            Construction
15                        Criminal Justice
16                                   Drama
17                               Economics
18                               Education
19                  Electrical Engineering
20                                 English
21                                    Film
22                                 Finance
23                                Forestry
24                               Geography
25                                 Geology
26                          Graphic Design
27              Health Care Administration
28                                 History
29                   Hospitality & Tourism
30                  Industrial Engineering
31             Information Technology (IT)
32                         Interior Design
33                 International Relations
34                              Journalism
35    Management Information Systems (MIS)
36                               Marketing
37                                    Math
38                  Mechanical Engineering
39                                   Music
40                                 Nursing
41                               Nutrition
42                              Philosophy
43                     Physician Assistant
44                                 Physics
45                       Political Science
46                              Psychology
47                                Religion
48                               Sociology
49                                 Spanish
Name: Undergraduate Major, dtype: object

In [12]:
clean_df[['Undergraduate Major', 'Starting Median Salary']]

                     Undergraduate Major  Starting Median Salary
0                             Accounting                 46000.0
1                  Aerospace Engineering                 57700.0
2                            Agriculture                 42600.0
3                           Anthropology                 36800.0
4                           Architecture                 41600.0
5                            Art History                 35800.0
6                                Biology                 38800.0
7                    Business Management                 43000.0
8                   Chemical Engineering                 63200.0
9                              Chemistry                 42600.0
10                     Civil Engineering                 53900.0
11                        Communications                 38100.0
12                  Computer Engineering                 61400.0
13                      Computer Science                 55900.0
14                          Construction                 53700.0
15                      Criminal Justice                 35000.0
16                                 Drama                 35900.0
17                             Economics                 50100.0
18                             Education                 34900.0
19                Electrical Engineering                 60900.0
20                               English                 38000.0
21                                  Film                 37900.0
22                               Finance                 47900.0
23                              Forestry                 39100.0
24                             Geography                 41200.0
25                               Geology                 43500.0
26                        Graphic Design                 35700.0
27            Health Care Administration                 38800.0
28                               History                 39200.0
29                 Hospitality & Tourism                 37800.0
30                Industrial Engineering                 57700.0
31           Information Technology (IT)                 49100.0
32                       Interior Design                 36100.0
33               International Relations                 40900.0
34                            Journalism                 35600.0
35  Management Information Systems (MIS)                 49200.0
36                             Marketing                 40800.0
37                                  Math                 45400.0
38                Mechanical Engineering                 57900.0
39                                 Music                 35900.0
40                               Nursing                 54200.0
41                             Nutrition                 39900.0
42                            Philosophy                 39900.0
43                   Physician Assistant                 74300.0
44                               Physics                 50300.0
45                     Political Science                 40800.0
46                            Psychology                 35900.0
47                              Religion                 34100.0
48                             Sociology                 36500.0
49                               Spanish                 34000.0

## Accessing Columns and Individual Cells

In [17]:
clean_df[['Undergraduate Major', 'Starting Median Salary']].sort_values(by='Starting Median Salary', ascending=False)[:1]

    Undergraduate Major  Starting Median Salary
43  Physician Assistant                 74300.0

In [20]:
clean_df['Starting Median Salary'].max()

AttributeError: 'numpy.float64' object has no attribute 'value'

In [18]:
clean_df['Undergraduate Major'].loc[clean_df['Starting Median Salary'].idxmax()]

'Physician Assistant'

## Highest and Lowest Earning Degrees

In [22]:
clean_df[['Undergraduate Major', 'Mid-Career Median Salary']].sort_values(by='Mid-Career Median Salary', ascending=False)[:1]

    Undergraduate Major  Mid-Career Median Salary
8  Chemical Engineering                  107000.0

In [23]:
clean_df[['Undergraduate Major', 'Starting Median Salary']].sort_values(by='Starting Median Salary')[:1]

   Undergraduate Major  Starting Median Salary
49             Spanish                 34000.0

In [24]:
clean_df[['Undergraduate Major', 'Mid-Career Median Salary']].sort_values(by='Mid-Career Median Salary')[:1]

   Undergraduate Major  Mid-Career Median Salary
18           Education                   52000.0

In [26]:
clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']

0     109800.0
1      96700.0
2     113700.0
3     104200.0
4      85400.0
5      96200.0
6      98100.0
7     108200.0
8     122100.0
9     102700.0
10     84600.0
11    105500.0
12     95900.0
13     98000.0
14    114700.0
15     74800.0
16    116300.0
17    159400.0
18     72700.0
19     98700.0
20     99600.0
21    102100.0
22    147800.0
23     70000.0
24     92000.0
25    111000.0
26     76000.0
27     66400.0
28    112000.0
29     88500.0
30    115900.0
31     84500.0
32     71300.0
33    118800.0
34    106600.0
35    100700.0
36    132900.0
37    137800.0
38     99300.0
39    107300.0
40     50700.0
41     65300.0
42    132500.0
43     57600.0
44    122000.0
45    126800.0
46     95400.0
47     66700.0
48     87300.0
49     65400.0
dtype: float64

In [27]:
clean_df['Mid-Career 90th Percentile Salary'].subtract(clean_df['Mid-Career 10th Percentile Salary'])

0     109800.0
1      96700.0
2     113700.0
3     104200.0
4      85400.0
5      96200.0
6      98100.0
7     108200.0
8     122100.0
9     102700.0
10     84600.0
11    105500.0
12     95900.0
13     98000.0
14    114700.0
15     74800.0
16    116300.0
17    159400.0
18     72700.0
19     98700.0
20     99600.0
21    102100.0
22    147800.0
23     70000.0
24     92000.0
25    111000.0
26     76000.0
27     66400.0
28    112000.0
29     88500.0
30    115900.0
31     84500.0
32     71300.0
33    118800.0
34    106600.0
35    100700.0
36    132900.0
37    137800.0
38     99300.0
39    107300.0
40     50700.0
41     65300.0
42    132500.0
43     57600.0
44    122000.0
45    126800.0
46     95400.0
47     66700.0
48     87300.0
49     65400.0
dtype: float64

## Sorting Values & Adding Columns: Majors with the Most Potential vs Lowest Risk

In [28]:
spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
clean_df.insert(1, 'Spread', spread_col)
clean_df.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

In [34]:
low_risk = clean_df[['Undergraduate Major', 'Spread']].sort_values(by='Spread')
low_risk.head()

           Undergraduate Major   Spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

In [33]:
high_risk = clean_df[['Undergraduate Major', 'Spread']].sort_values(by='Spread', ascending=False)
high_risk.head()

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0

## Degrees with the Highest Potential

In [35]:
highest_potential = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)
highest_potential[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

## Grouping and Pivoting Data with Pandas

In [45]:
pd.options.display.float_format = '{:,.2f}'.format
clean_df.groupby('Group')[clean_df.select_dtypes(include='number').columns].mean()

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,"103,958.33","44,633.33","75,083.33","43,566.67","147,525.00"
HASS,"95,218.18","37,186.36","62,968.18","34,145.45","129,363.64"
STEM,"101,600.00","53,862.50","90,812.50","56,025.00","157,625.00"

In [46]:
# table_from_html = pd.read_html("https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors")
# df = table_from_html[0].copy()
# df.columns = ["Rank", "Major", "Type", "EarlyCareerPay", "MidCareerPay", "HighMeaning"]
#  
# # Add tables from other pages to main dataframe
# for page_no in range(2, 35):
#     table_from_html = pd.read_html(f"https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors/page/{page_no}")
#     page_df = table_from_html[0].copy()
#     page_df.columns = ["Rank", "Major", "Type", "EarlyCareerPay", "MidCareerPay", "HighMeaning"]
#     df = df.append(page_df, ignore_index=True)
#  
# # Select necessary columns only
# df = df[["Major", "EarlyCareerPay", "MidCareerPay"]]
#  
# # Clean columns
# df.replace({"^Major:": "", "^Early Career Pay:\$": "", "^Mid-Career Pay:\$": "", ",": ""}, regex=True, inplace=True)
#  
# # Change datatype of numeric columns
# df[["EarlyCareerPay", "MidCareerPay"]] = df[["EarlyCareerPay", "MidCareerPay"]].apply(pd.to_numeric)

<>:16: SyntaxWarning: invalid escape sequence '\$'
<>:16: SyntaxWarning: invalid escape sequence '\$'
<>:16: SyntaxWarning: invalid escape sequence '\$'
<>:16: SyntaxWarning: invalid escape sequence '\$'
C:\Users\Sahil Bhatia\AppData\Local\Temp\ipykernel_6560\1906379055.py:16: SyntaxWarning: invalid escape sequence '\$'
  df.replace({"^Major:": "", "^Early Career Pay:\$": "", "^Mid-Career Pay:\$": "", ",": ""}, regex=True, inplace=True)
C:\Users\Sahil Bhatia\AppData\Local\Temp\ipykernel_6560\1906379055.py:16: SyntaxWarning: invalid escape sequence '\$'
  df.replace({"^Major:": "", "^Early Career Pay:\$": "", "^Mid-Career Pay:\$": "", ",": ""}, regex=True, inplace=True)
C:\Users\Sahil Bhatia\AppData\Local\Temp\ipykernel_6560\1906379055.py:16: SyntaxWarning: invalid escape sequence '\$'
  df.replace({"^Major:": "", "^Early Career Pay:\$": "", "^Mid-Career Pay:\$": "", ",": ""}, regex=True, inplace=True)
C:\Users\Sahil Bhatia\AppData\Local\Temp\ipykernel_6560\1906379055.py:16: SyntaxWarning: invalid escape sequence '\$'
  df.replace({"^Major:": "", "^Early Career Pay:\$": "", "^Mid-Career Pay:\$": "", ",": ""}, regex=True, inplace=True)

HTTPError: HTTP Error 403: Forbidden